html, body {
    height: 100%;
    background-color: #F0F0F0;
    color: #333333;
}

button {
    cursor: pointer;
    border: none;
    padding: 0;
}

input {
    padding-left: 0.4rem;
}

select {
    appearance: none;
    border: none;
    background-color: white;
}

.dp-rewrite > div {
    border: none;
    background-color: white;
}